files/configs/nvim/lazy-lock.json
files/configs/nvim/lazyvim.json
.DS_Store
.direnv/
.idea/
*.iml

# outputs/symlinks de builds Nix
result
result-*
.ipynb_checkpoints/
.cache
iso-result
7
.direnv/
activation.log
result
*.log
